body{
	background-color: #eaeaea;
}
*{
margin:0;
padding:0;
}
.nva{
	width:100%;
	position:fixed;
	height: 50px;
	top:0;
	left:0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index:999;
}
.heard{
	
				margin:0px 0px 3px 5px;
				height: 80px;
				display:block;

	  }
.centers{
	margin:3px;
	border: #A9A9A9;
}
.leftcenter{
	            margin: 3px;
				float: left;
				width: 25%;
				height:700px;
				background-color: rgba(178, 178, 178, 0.4);
				-webkit-border-radius: 10px;
}
.leftmenu li{
       background-color: rgba(90, 115, 143, 0.4);
}
.leftmenu li a{
	    width:100%;
		height:35px;
		font-size: 18px;
		text-align: center;
		font-family: 隶书;
		line-height: 30px;
		/*将元素显示为块级元素display:block;*/
		display: block;
	    color: #ffffff;
		
	}
	/*鼠标悬停改变背景颜色*/
.leftmenu li a:hover{
		color: #89b2ff;
		font-size:20px;
		text-decoration: underline;
		}
.rightcenter{
				margin: 3px;
				width:73%;
				float: right;
				background-color: rgba(255, 255, 255, 0.8);
				-webkit-border-radius: 10px;
				overflow: auto;
				
		}
#righttext{
				margin: 3px;
				float: left;
				width: 27%;
				margin-left: 20px;
				border: 1px solid #faf6f4;
				background-color: rgba(90, 115, 143, 0.8);
				-webkit-border-radius: 5px;
				margin-top: 20px;
				marker-end: 20px;
				padding: 10px;
		}
	
.up{
	width: 100%;
	height: 48%;
}
.down{
	width: 100%;
	height: 48%;
}
#righttext:hover{
				background-color: rgba(90, 115, 143, 0.3);
				animation: shake 0.7s;
			}
#righttext:hover p{
	text-decoration: underline;
}
.foottext{
				float: none;
				margin-top:15px;
				width: 100%;
				height: 500px;
				background-image: linear-gradient(110deg,#ffffff,#5a738f)
		}
.clear{
				clear: both;
				
	  }
.text1{
	margin-top: 30px;
	margin-left: 30px;
	border: 8px #ffffff;
	width: 50%;
	height:30px;
	font-size: 20px;
	color: #7f684d;
	-webkit-border-radius: 20px;
}
.text2{
	margin-top: 40px;
	margin-left: 30px;
	border: 8px #faf1ee;
	width: 20%;
	height: 30px;
	font-size: 20px;
	color: #DEB887;
	-webkit-border-radius: 20px;
}
.text3{
	border:3px #DEB887;
	width: 130px;
	height: 80px;
	-webkit-border-radius: 10px;
	background-image: url(../img/yang.JPG);
}
#p1{
	-webkit-border-radius: 5px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	height: 150px;
	width: 93%;
	border: 2px solid #ffffff;
	}
#p2{
	margin: 20px;
	float: left;
	height: 300px;
	width: 350px;
	border: 2px salmon;
	-webkit-border-radius: 20px;
}

#topmenu{
	margin:0px 0px 30px;
	float: right;
}
/*盛放二级菜单的盒子*/
.menur{
	width:99%;
	height:35px;
	margin-top: 38px;
	float:left;
	position: relative;
	padding-left:20px;
	padding-top: 5px;
}
#current{
	background-color:rgba(255, 255, 255, 0.7);
	color:#92b3ff;
}
.menur ul li
{
	float:left; 
    list-style:none;
}
.menur ul li a{
	width:240px;
	height:35px;
	font-size: 25px;
	text-align: center;
	font-family: 隶书;
	line-height: 30px;
	/*将元素显示为块级元素display:block;*/
	display: block;
	border-right: 2px solid #ffffff;
    background-color: rgba(136, 157, 197, 0.7);
    color: #ffffff;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	text-decoration:none;
}
/*鼠标悬停改变背景颜色*/
.menur ul li a:hover{
	background-color: #a4acc1; 
	color: #efefef;
	text-decoration: underline;
	}
/*.menur ul li a span{
    display: block;
    height: 0;
    width: 80px;
    position: relative;
    top: 0px;
    left: 80px;
    background-color: #fff;

}
.menur ul li a:hover span{
    height: 2px;
}*/
/*display:none;用来隐藏二级菜单*/
.menur ul li ul{
	position: absolute;
	display:none;
}
/*float:none;使二级菜单不左右浮动也是默认值*/
.menur ul li ul li{
	float: left;
}
.menur ul li ul li a{
	    background-color: #cacaca;
		width: 130px;
		border-top: 1px dashed cadetblue;
		border-bottom-left-radius: 15px;
		border-right: 2px dashed #ffffff;
		border-top-left-radius: 0px;
		
}
/*在鼠标移到li上的时候它下面的ul会显示*/	
.menur ul li:hover ul{
	display:block;
}


p{
	
				margin-left: 10px;
				color: #000000;
				font-family: 微软雅黑;
 }

h3{
	            font-family: 微软雅黑;
				text-align: center;
				color: #000000;
}
.ma{
	width: 100%;
	#background-color: rgba(202, 196, 164, 1.0);
	animation:bounceIn 2s both;
	pointer-events：none;
}
#pics img{
	width:95%;
	height:460px;
	border: 5px rgba(0, 0, 0, 0.8);
	border-top-left-radius: 85px;
	border-bottom-right-radius: 85px;
}


.biaoti{
	width: 400px;
}
.biaoti h2{
	font-size: 38px;
	font-family: 隶书;
	color: white;
	-webkit-text-stroke: 2px #5A738F;
	background-image:-webkit-linear-gradient(left,#ffffff,#909eb2,#7ca0c5);
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent; 
}
.heardmenu{
	float: right;
	font-size: 20px;
	font-family: 隶书;
	color: #6e8dae;
	margin-bottom: 5px;
}
.heardmenu label:hover{
	font-size: 21px;
	color: #cac4a4;
}
#leftma{
	float: left;
	height: 500px;
	width: 38%;
}
#leftma img{
	padding: 5px;
	height: 490px;
	width: 98%;
}
#vertical{
	width:60%;
	float: left;
    height: 500px;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}
#vertical:hover{
	animate:bounceInDown;
}
#vertical li{
	   width: 40px;
	   list-style:none;
}
#vertical hr{
	text-align: center;
	margin: 3px;
	width: 99%;
	color: white;
}
#vertical li a{
	    margin-right: 5px;
		height:500px;
		font-size: 14px;
		text-align: center;
		font-family: 隶书;
		line-height: 30px;
		/*将元素显示为块级元素display:block;*/
		display: block;
	    color: #ffffff;
		text-decoration:none;
	}
	/*鼠标悬停改变背景颜色*/
#vertical li a:hover{
		color: #000000;
		}
.tool{
	width: 5%;
	background-color: #5F9EA0;
	float: center;
}
.linbuttom{
	width: 100%;
	height: 250px;
	background-color: #d5d5d5;
}

